/.idea/.name
/.idea/codeStyleSettings.xml
/.idea/dictionaries/idan.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/RavenDB.iml
/.idea/workspace.xml
/.idea
*.pyc
/s.py
*.log
*.raven-topology
*.raven-cluster-topology
